@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
} 

body { /* Corpo do site */
    background-color: wheat;
}

h1 { /* Título principal */
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
}

div#container { /* Div principal */
    background-color: white;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
}

div#container p { /* Parágrafos da Div principal */
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

input#txtn1 { /* Primeiro número */
    width: 100px;
    height: 40px;
    margin-left: 5px;
    border-radius: 15px;
    border: 3px solid rgb(231, 185, 99);
    font-size: 1.2em;
    text-align: center;
}

input#txtn2 { /* Segundo número */
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 3px solid rgb(231, 185, 99);
    font-size: 1.2em;
    text-align: center;
}

div#botoes { /* Div dos botões */
    margin-top: 10px;
    text-align: center;
}

input#mais { /* Botão de somar */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgb(231, 185, 99);
    background-color: wheat;
    font-size: 1.5em;
}

input#mais:active { /* Efeito ao clicar no botão de somar */
    background-color: rgb(173, 157, 126);
}

input#menos { /* Botão de subtração */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgb(231, 185, 99);
    background-color: wheat;
    font-size: 1.5em;
}

input#menos:active { /* Efeito ao clicar no botão de subtração */
    background-color: rgb(173, 157, 126);
}

input#vezes { /* Botão de mutiplicação */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgb(231, 185, 99);
    background-color: wheat;
    font-size: 1.5em;
}

input#vezes:active { /* Efeito ao clicar no botão de mutiplicação */
    background-color: rgb(173, 157, 126);
}

input#dividir { /* Botão de divisão  */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgb(231, 185, 99);
    background-color: wheat;
    font-size: 1.5em;
}

input#dividir:active { /* Efeito ao clicar no botão de divisão */
    background-color: rgb(173, 157, 126);
}

div#res { /* Div da resposta */
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

footer { /* Rodapé */
    text-align: center;
    margin: 20px;
    color: white;
    font: italic normal 15pt Arial;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
}

footer a { /* Links no rodapé */
    color: white;
    text-decoration: none;
    font: italic bolder 15pt Arial;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
}

footer a:hover { /* Efeito no link do rodapé ao passar o mouse */
    text-decoration: underline;
}
