@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body { /* Corpo do site */
    font: normal 18pt Arial;
    background-color: cornflowerblue;
}

h1 { /* Título principal */
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    width: 500px;
    background-color: white;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
}

section { /* Section principal*/
    background-color: white;
    min-width: 250px;
    max-width: 500px;
    min-height: 300px;
    max-height: 600px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
    
    
}

section p { /* Parágrafos da section */
    padding: 20px;
}

input#txti { /* Início */
    margin-left: 10px;
    width: 100px;
    height: 25px;
    font-size: 16pt;
}
input#txtf { /* Fim */
    margin-left: 28px;
    width: 100px;
    height: 25px;
    font-size: 16pt;
}

input#txtp { /* Passo */
    margin-left: 2px;
    width: 100px;
    height: 25px;
    font-size: 16pt;
}

input#botao { /* Botão */
     display: block;
     margin: auto;
     width: 100px;
     height: 50px;
     background-color: cornflowerblue;
     color: white;
     font: bold 15pt arial;
     border-radius: 10px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
}

input#botao:hover{ /* Efeito no botão ao passar o mouse */
    background-color: rgb(77, 114, 182);
    transition: .5s;
}

div#res { /* Div que a resposta vai aparecer */
    padding: 20px;
}

footer { /* Rodapé */
    color: white;
    padding: 15px;
    text-align: center;
    font-style: italic;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}

footer a { /* Link no rodapé */
    color: white;
    font-style: italic;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover { /* Efeito no rodapé ao passar o mouse */
    text-decoration: underline;
}
